@using Order.Models;

<div class="shopCart">
    <p></p>
    <div id="shopCartContent">
        <p class="noItem">購物車內目前沒有商品</p>
        <!--購物內容 1-->
        @{if (TempData["ShopCart"] != null)
            {
                foreach (var item in TempData["ShopCart"] as IEnumerable<ShopCart>)
                {
                    @getCartItem(item.ProductName, item.ProductImage, item.UnitPrice, item.Quantity, item.pID);
                }
            } }
    </div>


    <div class="shopCartFooter row">
        <p>合計：$ @ViewBag.sumPrice</p>
        <a href="/Shop/CheckOut">立即結帳</a>
    </div>

</div>

@helper getCartItem(string pName, string pImg, int? pPrice, int? pAmt, int? pID)
{
    <div class="shopCartItem">
        <a href="#">
            <img src="@pImg" />
            <div>
                <p>@pName</p>
                <span>$ @sumPrice(pPrice, pAmt)</span>
            </div>
        </a>
        <span class="ItemQuantity">@pAmt 份</span>
        <button id="DelBtn_@pID" class="DelBtn btn btn-outline-secondary"><span class="fas fa-trash-alt"></span></button>
    </div>
}

<!-- 單一商品總價 -->
@helper sumPrice(int? pPrice, int? pAmt)
{
    int? sum = pPrice * pAmt;
    @sum
}

<script>
    $(function () {
        $(".DelBtn").click(function () {
            $.ajax({
                type: "GET",
                url: "/Shop/DelCart?pID=" + getIndex(this.id),
                success: function (response) {
                    $("#shopCartContent").html(response);
                    $(".itemAmt").text("[" + $(".shopCartItem").length + "]");
                }
            });
        });
    });



    function getIndex(rawId) {
        var reg = /\d{1,2}/;
        var id = reg.exec(rawId);
        return id;
    }

    //購物車==================================================================

    //行動裝置：當視窗小於653運作----
    if ($(window).width() < 653) {

        //位置在下，刪除top的樣式
        $('.shopCart').css({
            "bottom": "3rem",
            "top": "",
        });

    }
    else {

        //位置在上，刪除bottom樣式
        $('.shopCart').css({
            "top": "2.8rem",
            "bottom": "",
        });

    }



    $(function () {

        //行動裝置：當視窗小於1024時運作---- 
        if ($(window).width() < 1025) {

            //購物車顯示/隱藏
            $('.navShopCart').click(function () {
                $('.shopCart').toggle('slow');
            });
        }


        //網頁版：
        $('.navShopCart').hover(function () {
            $('.shopCart').show('slow');
        });

        $('.shopCart').hover(function () {
            //滑鼠移入事件

        }, function () {
            //滑鼠移出事件--------

            //隱藏購物車
            $('.shopCart').hide();

        });


    });




    NoItemCart();
    //無商品的購物車--------------------------------
    function NoItemCart() {
        var cartCount = document.getElementsByClassName("shopCartItem");

        if (cartCount.length <= 0) {
            //購物車無商品
            $('.noItem').show();
            $('.shopCartFooter').hide();
        }
        else {
            //購物車有商品
            $('.noItem').hide();
            $('.shopCartFooter').show();
        }
    }
</script>
