@using Order.Models;

<div class="shopCart">
    <p></p>
    <div id="shopCartContent">
        <p class="noItem" style="display: none">購物車內目前沒有商品</p>
        <!--購物內容 1-->
        @{if (TempData["ShopCart"] != null)
            {
                foreach (var item in TempData["ShopCart"] as IEnumerable<ShopCart>)
                {
                    @getCartItem(item.ProductName, item.ProductImage, item.UnitPrice, item.Quantity, item.pID);
                }
            } }
    </div>


    <div class="shopCartFooter row">
        <p>合計：$ @ViewBag.sumPrice</p>
        <a href="/Shop/CheckOut">立即結帳</a>
    </div>

</div>

@helper getCartItem(string pName, string pImg, int? pPrice, int? pAmt, int? pID)
{
    <div class="shopCartItem">
        <a href="#">
            <img src="@pImg" />
            <div>
                <p>@pName</p>
                <span>$ @sumPrice(pPrice, pAmt)</span>
            </div>
        </a>
        <span class="ItemQuantity">@pAmt 份</span>
        <button id="DelBtn_@pID" class="DelBtn btn btn-outline-secondary"><span class="fas fa-trash-alt"></span></button>
    </div>
}

<!-- 單一商品總價 -->
@helper sumPrice(int? pPrice, int? pAmt)
{
    int? sum = pPrice * pAmt;
    @sum
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $(".DelBtn").click(function () {
            $.ajax({
                type: "GET",
                url: "/Shop/DelCart?pID=" + getIndex(this.id),
                success: function (response) {

                }
            });
        });
    });



    function getIndex(rawId) {
        var reg = /\d{1,2}/;
        var id = reg.exec(rawId);
        return id;
    }
</script>
